NodeRED/flows (1).json
[
    {
        "id": "663f027b13260b79",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fcda04526916c7b5",
        "type": "mqtt in",
        "z": "663f027b13260b79",
        "name": "",
        "topic": "crowd/zoneA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67584bcb4ad22b16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "be1bbda3f895bb43",
                "a491c611ed4909f1",
                "9535a016f138d570",
                "9fcc9240ebcbbdb3"
            ]
        ]
    },
    {
        "id": "be1bbda3f895bb43",
        "type": "ui_gauge",
        "z": "663f027b13260b79",
        "name": "",
        "group": "e15e26a01a261c6e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Zone A Density",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 160,
        "wires": []
    },
    {
        "id": "48a894871e501bd8",
        "type": "mqtt in",
        "z": "663f027b13260b79",
        "name": "",
        "topic": "crowd/zoneB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67584bcb4ad22b16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "bb567601b2310354",
                "393e6965edffed05",
                "9535a016f138d570",
                "9fcc9240ebcbbdb3"
            ]
        ]
    },
    {
        "id": "9e27bdd377259bb9",
        "type": "mqtt in",
        "z": "663f027b13260b79",
        "name": "",
        "topic": "crowd/zoneC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67584bcb4ad22b16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "1ae77db8794ab246",
                "619c3b621ce2bdda",
                "9535a016f138d570",
                "9fcc9240ebcbbdb3"
            ]
        ]
    },
    {
        "id": "e81bdf17af255523",
        "type": "mqtt in",
        "z": "663f027b13260b79",
        "name": "",
        "topic": "crowd/zoneD",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67584bcb4ad22b16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 900,
        "wires": [
            [
                "61998814b02911c1",
                "88355ed8cd68134b",
                "9535a016f138d570",
                "9fcc9240ebcbbdb3"
            ]
        ]
    },
    {
        "id": "bb567601b2310354",
        "type": "ui_gauge",
        "z": "663f027b13260b79",
        "name": "",
        "group": "542ff4168e7a0861",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Zone B Density",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 440,
        "wires": []
    },
    {
        "id": "1ae77db8794ab246",
        "type": "ui_gauge",
        "z": "663f027b13260b79",
        "name": "",
        "group": "f216b7836374af11",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Zone C Density",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 700,
        "wires": []
    },
    {
        "id": "61998814b02911c1",
        "type": "ui_gauge",
        "z": "663f027b13260b79",
        "name": "",
        "group": "2b4425ccfa64be85",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Zone D Density",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 960,
        "wires": []
    },
    {
        "id": "a491c611ed4909f1",
        "type": "function",
        "z": "663f027b13260b79",
        "name": "Status Function A",
        "func": "let density = Number(msg.payload);\n\nif (density > 800) {\n    msg.payload = \"🔴 DANGER\";\n}\nelse if (density > 500) {\n    msg.payload = \"🟡 WARNING\";\n}\nelse {\n    msg.payload = \"🟢 SAFE\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "3099ea344dd55904"
            ]
        ]
    },
    {
        "id": "3099ea344dd55904",
        "type": "ui_text",
        "z": "663f027b13260b79",
        "group": "0b22a2286281812a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone A Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "670d85607ce9eb6f",
        "type": "ui_text",
        "z": "663f027b13260b79",
        "group": "0b22a2286281812a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone B Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "8addf9b1f6db2a1d",
        "type": "ui_text",
        "z": "663f027b13260b79",
        "group": "0b22a2286281812a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone C Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "c806fa5f361d4beb",
        "type": "ui_text",
        "z": "663f027b13260b79",
        "group": "0b22a2286281812a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone D Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 840,
        "wires": []
    },
    {
        "id": "393e6965edffed05",
        "type": "function",
        "z": "663f027b13260b79",
        "name": "Status Function B",
        "func": "let density = Number(msg.payload);\n\nif (density > 800) {\n    msg.payload = \"🔴 DANGER\";\n}\nelse if (density > 500) {\n    msg.payload = \"🟡 WARNING\";\n}\nelse {\n    msg.payload = \"🟢 SAFE\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "670d85607ce9eb6f"
            ]
        ]
    },
    {
        "id": "619c3b621ce2bdda",
        "type": "function",
        "z": "663f027b13260b79",
        "name": "Status Function C",
        "func": "let density = Number(msg.payload);\n\nif (density > 800) {\n    msg.payload = \"🔴 DANGER\";\n}\nelse if (density > 500) {\n    msg.payload = \"🟡 WARNING\";\n}\nelse {\n    msg.payload = \"🟢 SAFE\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 580,
        "wires": [
            [
                "8addf9b1f6db2a1d"
            ]
        ]
    },
    {
        "id": "88355ed8cd68134b",
        "type": "function",
        "z": "663f027b13260b79",
        "name": "Status Function D",
        "func": "let density = Number(msg.payload);\n\nif (density > 800) {\n    msg.payload = \"🔴 DANGER\";\n}\nelse if (density > 500) {\n    msg.payload = \"🟡 WARNING\";\n}\nelse {\n    msg.payload = \"🟢 SAFE\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "c806fa5f361d4beb"
            ]
        ]
    },
    {
        "id": "9535a016f138d570",
        "type": "function",
        "z": "663f027b13260b79",
        "name": "Emergency Function",
        "func": "let density = Number(msg.payload);\n\ncontext.set(msg.topic, density);\n\nlet zoneA = context.get(\"crowd/zoneA\") || 0;\nlet zoneB = context.get(\"crowd/zoneB\") || 0;\nlet zoneC = context.get(\"crowd/zoneC\") || 0;\nlet zoneD = context.get(\"crowd/zoneD\") || 0;\n\nlet maxDensity = Math.max(zoneA, zoneB, zoneC, zoneD);\n\nif (maxDensity > 800) {\n    msg.payload = \"🚨 STAMPEDE RISK DETECTED\";\n}\nelse {\n    msg.payload = \"✅ NORMAL CROWD FLOW\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 380,
        "wires": [
            [
                "d0c17b09a8c1593e"
            ]
        ]
    },
    {
        "id": "d0c17b09a8c1593e",
        "type": "ui_text",
        "z": "663f027b13260b79",
        "group": "71a065d225852361",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Emergency Alert",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1140,
        "y": 380,
        "wires": []
    },
    {
        "id": "83c81e91d0ed83a3",
        "type": "ui_text",
        "z": "663f027b13260b79",
        "group": "71a065d225852361",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Risk Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "9fcc9240ebcbbdb3",
        "type": "function",
        "z": "663f027b13260b79",
        "name": "Current Risk Function",
        "func": "let density = Number(msg.payload);\n\n// Store value based on topic\ncontext.set(msg.topic, density);\n\n// Read all zones\nlet zoneA = context.get(\"crowd/zoneA\") || 0;\nlet zoneB = context.get(\"crowd/zoneB\") || 0;\nlet zoneC = context.get(\"crowd/zoneC\") || 0;\nlet zoneD = context.get(\"crowd/zoneD\") || 0;\n\n// Find highest density\nlet maxDensity = Math.max(zoneA, zoneB, zoneC, zoneD);\n\nif (maxDensity > 800) {\n    msg.payload = \"🔴 HIGH\";\n}\nelse if (maxDensity > 500) {\n    msg.payload = \"🟡 MEDIUM\";\n}\nelse {\n    msg.payload = \"🟢 LOW\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "83c81e91d0ed83a3"
            ]
        ]
    },
    {
        "id": "65072fe10d4da96a",
        "type": "ui_spacer",
        "z": "663f027b13260b79",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "67584bcb4ad22b16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e15e26a01a261c6e",
        "type": "ui_group",
        "name": "Group: Zone A",
        "tab": "a0585122a1da5d45",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "542ff4168e7a0861",
        "type": "ui_group",
        "name": "Group: Zone B",
        "tab": "a0585122a1da5d45",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f216b7836374af11",
        "type": "ui_group",
        "name": "Group: Zone C",
        "tab": "a0585122a1da5d45",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b4425ccfa64be85",
        "type": "ui_group",
        "name": "Group: Zone D",
        "tab": "a0585122a1da5d45",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b22a2286281812a",
        "type": "ui_group",
        "name": "Zone Status",
        "tab": "a0585122a1da5d45",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "71a065d225852361",
        "type": "ui_group",
        "name": "Emergency Alerts",
        "tab": "a0585122a1da5d45",
        "order": 6,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0585122a1da5d45",
        "type": "ui_tab",
        "name": "Crowd Monitoring",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "970d903761928bcc",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]